build/
data/
to_compress/
*.log
*.sav
*.gba
*.lnk
*.elf
*.zip
*.exe
.vscode/
.venv/
tools/rom-value-generator/payload-generator
text_errors.txt
terminal_output.txt
tools/payload-generator/payload-generator
tools/make-file-container/make-file-container
options.json