build/
data/
to_compress/
*.log
*.sav
*.gba
*.lnk
*.elf
*.zip
*.exe
.vscode/
.venv/
source/test_payload.txt
loader/data/multiboot_rom.bin
include/translated_text.h
source/translated_text.cpp
text_helper/output.json
text_helper/text.xlsx